<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-column">
                <h2>Follow our work</h2>
                <div class="social-media-icons">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/SchneiderElectric/"
                        ><img
                            class="footer-icon-social-media"
                            src="/assets/icons/facebook.svg"
                    /></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/schneiderelectric_rs/?hl=en"
                        ><img
                            class="footer-icon-social-media"
                            src="/assets/icons/instagram.svg"
                    /></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://x.com/schneiderelec?lang=en"
                        ><img
                            class="footer-icon-social-media"
                            src="/assets/icons/twitter.svg"
                    /></a>
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
        <p>Copyright &copy; 2024 Tic Tac Toe Platform. All Rights Reserved.</p>
    </div>
</footer>
